{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "parser": "babel-ts",
  "printWidth": 80,
   "prettier.eslintIntegration": true
}
